# macOS
**/.DS_Store

# JetBrians
.idea/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter stuff:
/.ipynb_checkpoints 
still_paint/.DS_Store
data_augmentation/.DS_Store
